.\Data extraction
Data extraction/data_whisky ballantine´s 12 anos 1L.json
Data extraction/data_whisky jhonnie walker blue label - 750ml.json
Data extraction/data_whisky old parr 18 anos - 750ml.json
